{% extends "base.html.twig" %}
{% block title %}Profil - {{ parent()}} {% endblock %}
{% block body %}
    <div class="col-lg-8 d-lg-flex justify-content-between mx-auto">
        <div class="col-lg-2">
            <div class="photo-box" style="background-image: url('https://i.redd.it/s6zoxmbnq4b61.jpg')"></div>
        </div>
        <div class="col-lg-8">
            <div class="separator">
                Osobní údaje
            </div>
        </div>
        <div></div>
    </div>
{% endblock %}