{% extends "base.html.twig" %}
{% block title %}Profil - {{ parent() }} {% endblock %}
{% block body %}
    <div class="col-lg-12 d-lg-flex justify-content-between mx-auto">

        <div class="col-lg-2">
            <div class="photo-box" style="background-image: url('https://i.redd.it/s6zoxmbnq4b61.jpg')"></div>
        </div>
            </div>
            <div class="col-12 d-flex flex-wrap">

                <!--Střední sloupec-->
                <div class="col-lg-8">


                    <div class="col-12 separator">Obobní údaje</div>
                    <div class="col-12 d-block">
                        <div class="col-5"> Status </div>
                        <div class="col-4" style=" margin-top: 50px;margin-bottom: 50px; background-color: lawngreen">Aktivní
                        </div>
                        <div class="col-4 info-frame">{{ user.degree }}</div>
                <div class="col-4 info-frame">{{ user.name }}</div>
                <div class="col-4 info-frame">{{ user.surname }}</div>
                <div class="col-4 info-frame">bydliště </div>
                <div class="col-4 info-frame"></div>
                <div class="col-4 info-frame"> gender</div>


            </div>
            <div class="col-12 d-block">
            <div class="separator" >Profesní informace
            </div>

        </div>
       
        <!-- Pravý sloupec-->
        <div class="col-lg-2">
            <div class="upravit"> Upravit</div>
        </div>
    </div>
{% endblock %}