{% extends 'base.html.twig' %}

{% block title %}Úvod - {{ parent() }}{% endblock %}

{% block body %}
    <div class="d-md-flex flex-wrap justify-content-center mx-auto col-lg-7 col-8 bar">
        <a href="" class="box col-md-4 offset-md-1">
            <div>
                Můj profil 2
                {% for e in employees %}

                    {% if e.degree == "Bc." %}
                        <li>{{ e.fullname }}</li>
                    {% endif %}
                {% endfor %}
            </div>
        </a>
        <a href="" class="box col-md-4 offset-md-1">
            <div>
                Nabídka kurzů
            </div>
        </a>
        <a href="" class="box col-md-4 offset-md-1">
            <div>
                Můj kalendář
            </div>
        </a>
        <a href="" class="box col-md-4 offset-md-1">
            <div>
                Správa
            </div>
        </a>
    </div>
{% endblock %}
