{% extends 'employer/employer_base.html.twig' %}
{% block title %} Export - {{ parent()}} {% endblock %}
{% block rightside %}
    <h1 class="text-center">Export data</h1>
    <hr>
    <div>
        {{ form(form) }}
    </div>
{% endblock %}