{% extends 'employer/employer_base.html.twig' %}
{% block title %} Zaměstnanci - {{ parent() }} {% endblock %}
{% block rightside %}
    <h1 class="text-center">Zaměstnanci</h1>
    <hr>
    <div>
        {% for e in employees %}
            {% set isMe = e.identity.id == app.user.id %}
            {% if not isMe %}
                <a href="{{ path('app_profile_get',{"id":e.identity.id}) }}">
            {% endif %}
            <li>{{ e.name }} {{ e.surname }} {% if isMe %} <span class="alert-warning small"
                                                                 style="background: var(--special-color);padding:0px 10px">Vy</span> {% endif %}
            </li>
            {% if not isMe %}
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}