{% extends 'base.html.twig' %}
{% block title %} Vytvoření zaměstnance - {{ parent() }} {% endblock %}
{% block body %}
    <div class="col-lg-6 mx-auto">
        <h2 class="text-center">Zaměstnance v organizaci "{{ employer }}"</h2>
        {{ form(form) }}
    </div>
{% endblock %}