{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ attribute(classes,label) }}" role="alert">
            {{ message|trans }}
        </div>
    {% endfor %}
{% endfor %}