@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf");
    font-weight: bold;
}
:root {
    --main-bg-color: #004286;
    --main-text-color: rgba(0, 0, 0, .9);
    --special-color: #FFBB55;
    --ligh-blue: rgba(135, 159, 176, 0.21);
}

body {
    background: #d2eeff;
/*CDDEE5 - 13491941*/
/*B4D6E5 - 11851493*/
}

.navbar .navbar-brand {
    /*font-family: Prompt, sans-serif;*/
    font-weight: bold;
    padding: 15px;
    font-size: 25px;
}

.bg-light {
    background-color: transparent !important;
}

.navbar-brand .medi {
    color: var(--main-bg-color);
}

.short-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 50px;
    height: 50px;

    background: var(--main-bg-color);
    font-weight: bold;
    /*border: 3px solid var(--main-text-color);*/
    color: white;
}

.navbar-nav.bubble .nav-link {
    padding: 5px 13px;
    background: var(--main-bg-color);
    color: white;
    display: flex;
    align-items: center;
    min-height: 50px;
    min-width: 50px;
    font-weight: bold;
    margin: 0 5px;
}
.navbar-nav.bubble .nav-item{
    border-radius: 5vh;
}
.form-floating>.form-control{
    height: auto;
}
.bubble .nav-link:hover{
    background: var(--special-color);
}

.bubble .special .nav-link {
    background: var(--special-color);
    color: var(--main-text-color);
}

.bubble .dropdown-menu {
    background: var(--main-bg-color);
    border-radius: 30px;
    min-height: 50px;
    min-width: 50px;

}

.bubble .dropdown-item {
    color: white;
    margin: 0 5px;
}

.bubble .dropdown-item:hover {
    color:var(--special-color);
    background: none;
    text-decoration: double;
}

.link-box{
    text-align: center;
}
.link-box > div{
    background:var(--ligh-blue);
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.15);
    margin-bottom: 15px;
}
.link-box a{
    margin-bottom: 30px;
}
.btn-main{
    background: var(--main-bg-color);
    border:none;
    border-radius:30px;
    padding:10px 25px;
    font-size: 18px;
    color:white;
    transition:0.1s;
    text-decoration: none;
}

.btn-main:hover,.btn-main:focus{
    background: var(--special-color);
    color:var(--main-text-color);
}



@media only screen and (min-width: 768px) {
    .bar{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

form input{
    margin-bottom: 5px;
}

.m-top{
    margin-top:15px;
}

.m-bottom{
    margin-bottom: 15px;
}
.box > div{
    padding:30px;
    font-size:25px;
    min-width: 150px;
    min-height: 100%;
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.15);
    text-align: center;
    background: var(--ligh-blue);
}
a.box{
    text-decoration: none;
    margin-top: 8.33333333%;
}

.floating-button{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}
a.floating-button{
    text-decoration: none;
}
.floating-button > .fa{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.special{
    background: var(--special-color);
    color:var(--main-text-color);
}

.my-float{
    margin-top:22px;
}

.photo-box{
    width: 90%;
    min-height: 100px;
    height: auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.separator{
    padding:12px 5px;
    background: #bababa;
    text-align: center;
}

.table-striped .bg-warning{
    background: var(--special-color) !important;
}

.table-striped .bg-info{
    background: #5ca0ff !important;
}

.table-striped .bg-success{
    background: #7fff6c !important;
}

.button-left{
    color:white;
    font-size: 5.3em;
    margin-bottom:4px;
    margin-left: 10px;
    margin-right: 10px;


}

.calendar-date{
    padding:10px;
    background: #90DEFF;
    color:white;
    border-radius: 5px;
    font-size: 20px;
}
.monday{

    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: white;
    color:#00B2FF;
    border-radius: 5px;
    font-size: 24px;
}
.m-topp{
    font-size: 24px;
    padding-bottom: 220%;
   padding-top: 30px;
    margin-top: 10px;
}
.mujkalendar{
    padding:1em 13px  1em 13px;
    background: #90DEFF;
    color: white;
    border-radius: 5px;
    font-size: 2em;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;


}
.day-names{
    background: #90DEFF;
    color:white;
    font-size: 1em;
    margin-left: 25px;
    margin-right: 25px;

}
.calendar thead tr{
    padding:5px 10px  5px 10px;
}
.calendar thead th:first-child{
    border-radius: 10px 0 0 10px;
}
.calendar thead th:last-child{
    border-radius: 0 10px 10px 0;
}
.stupid{
    padding: 5px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;

}
.jednotlive-bunky{
    border-radius: 20px;
    background: white;
    width: 100%;
    font-size: 0.8em;
    height: 100%;
    margin-top: 0.28em;
    padding: 3px;
}
.month{
    padding:2px 1em  2px 1em;
    background: #4BB2FF;
    color:white;
    border-radius: 5px;
    font-size: 20px;
}
.button-left-month{
    color:white;
    font-size: 3.3em;
    margin-bottom:4px;
    margin-left: 10px;
    margin-right: 10px;
}