{% extends "base.html.twig" %}
{% block title %} Přidání organizace - {{ parent() }} {% endblock %}
{% block body %}
    <div class="col-lg-6 mx-auto">
        <form method="post">

        </form>
    </div>
{% endblock %}