{% extends 'base.html.twig' %}

{% block title %}Nahlášení chyby - {{ parent() }}{% endblock %}

{% block body %}
    <form method="post" class="col-lg-4 mx-auto bar d-grid">

        <h1 class="h3 font-weight-normal text-center" style="margin-bottom: 40px">Nahlášení chyby</h1>
        <div class="form-floating mb-3">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                <option selected>Vyberte typ</option>
                {% for cat in categories %}
                    <option value="{{ cat.name }}">{{ cat.label }}</option>
                {% endfor %}
            </select>
            <label for="floatingSelect">Typ chyby</label>
        </div>
        <div class="form-floating mb-3">
            <textarea rows="5" name="description" id="description" class="form-control"
                      placeholder="Popis chyby" required autofocus></textarea>
            <label for="description">Popis chyby</label>
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <div class="checkbox mb-3">
            <input type="checkbox" name="employee_info" id="employee_info" checked>
            <label for="employee_info" style="user-select: none">Přeji si
                uvést informace o mně</label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Přihlásit se
        </button>
    </form>
{% endblock %}
