{% extends 'base.html.twig' %}

{% block title %}Courses overview{% endblock %}

{% block body %}
<div class="container">
  <div class="row justify-content-md-center">
{% for course in courses %}

    <div class="col col-lg-3 m-2">
      <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ course.name }}</h5>
                <p class="card-text">{{ course.focus }}</p>
                {% set keywords = course.keywords|split(',') %}
                {% for u in keywords %}
                <span class="badge bg-secondary">{{ u }}</span>
                {% endfor %}
                <div class="card-text my-2">
                    <a href="{{path('app_courses_one', {"id":course.id}) }}" class="btn btn-primary">Visit course</a>
                </div>
                
            </div>        
        </div>    
    </div>

{% else %}
    No courses have been found.
{% endfor %}
    </div>
</div>
{% endblock %}
